<!-- Check parameters -->
{{ if not (isset site.Params.Anubis2.Services.Giscus "repo") }}
    {{ errorf "Anubis2: You enabled params.anubis2.services.giscus, but the parameter 'params.anubis2.services.giscus.repo' is not set." }}
{{ end }}

{{ if not (isset site.Params.Anubis2.Services.Giscus "repoid") }}
    {{ errorf "Anubis2: You enabled params.anubis2.services.giscus, but the parameter 'params.anubis2.services.giscus.repoId' is not set." }}
{{ end }}

{{ if not (isset site.Params.Anubis2.Services.Giscus "category") }}
    {{ errorf "Anubis2: You enabled params.anubis2.services.giscus, but the parameter 'params.anubis2.services.giscus.category' is not set." }}
{{ end }}

{{ if not (isset site.Params.Anubis2.Services.Giscus "categoryid") }}
    {{ errorf "Anubis2: You enabled params.anubis2.services.giscus, but the parameter 'params.anubis2.services.giscus.categoryId' is not set." }}
{{ end }}


{{ $theme := "preferred_color_scheme" }}
{{ $mapping := site.Params.Anubis2.Services.Giscus.dataMapping | default "og:title" }} 
{{ $language := site.Params.Anubis2.Services.Giscus.language | default "en" }} 
{{ $lazyload := site.Params.Anubis2.Services.Giscus.lazyLoad | default false }} 

{{ $params := partial "params-helper.html" . }}

<script>
        function detectCurrentScheme2() {
                const defaultTheme = "{{ $params.colorTheme }}";
                if (localStorage !== null && localStorage.getItem("user-color-scheme")) {
                        return localStorage.getItem("user-color-scheme");
                }
                if (defaultTheme === "dark" || defaultTheme === "light") {
                        return defaultTheme;
                }
                return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        }

        let giscusTheme = detectCurrentScheme2();
        let giscusAttributes = {
                src: "https://giscus.app/client.js",
                "data-repo": "{{- site.Params.Anubis2.Services.Giscus.Repo -}}",
                "data-repo-id": "{{- site.Params.Anubis2.Services.Giscus.RepoId -}}",
                "data-category": "{{- site.Params.Anubis2.Services.Giscus.Category -}}",
                "data-category-id": "{{- site.Params.Anubis2.Services.Giscus.CategoryId -}}",
                "data-mapping": "{{ $mapping }}",
                "data-strict": "0",
                "data-reactions-enabled": "1",
                "data-emit-metadata": "0",
                "data-input-position": "bottom",
                "data-theme": giscusTheme,
                "data-lang": "{{ $language }}",
                crossorigin: "anonymous",
                lazyload: "{{ $lazyload }}",
                async: true,
        };
        let main = document.querySelector("main");
        let giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        main.appendChild(giscusScript);
</script>

